/* =========================================================
   FOOTER
   ========================================================= */
footer {
    box-shadow: 0 -4px 14px rgba(0,0,0,.06);
    border-top: 1px solid rgba(0,0,0,.06);
    padding: 20px;
    text-align: center;
    color: var(--gray-dark);
    background: var(--white);
}
