<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">

<head>
    <title layout:title="Lista de Rutinas">Lista de Rutinas</title>
</head>

<body>

<main layout:fragment="content">

    <h1 class="page-title">Lista de Rutinas</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="routine : ${routines}">
            <td th:text="${routine.name}"></td>
            <td th:text="${routine.description}"></td>
            <td th:text="${routine.duration}"></td>

            <td>
                <a th:href="@{'/trainer/routines/edit/' + ${routine.id}}">Editar</a>
                |
                <a th:href="@{'/trainer/routines/delete/' + ${routine.id}}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>
