<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IcesiFit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logo/icesifit_logo_negro.svg}" media="(prefers-color-scheme: light)">
    <link rel="icon" th:href="@{/images/logo/icesifit_logo_blanco.svg}" media="(prefers-color-scheme: dark)">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/components/main.css}">
</head>
<body>

<div class="login-container" id="container">
    <!-- Carrusel -->
    <div class="login-left">
        <div class="image-slider">
            <div class="image-slider-inner">
                <img th:src="@{/images/login_1.png}" alt="Ejercicio 1">
                <img th:src="@{/images/login_2.png}" alt="Ejercicio 2">
                <img th:src="@{/images/login_3.png}" alt="Ejercicio 3">
                <img th:src="@{/images/login_1.png}" alt="Ejercicio 1">
            </div>
        </div>
    </div>

    <!-- Formulario de login -->
    <div class="login-right login-panel" id="loginPanel">
        <div class="header">
            <img th:src="@{/images/logo/icesifit_logo_negro.svg}" alt="Logo">
        </div>
        <h2>¡Vamos a movernos!</h2>
        <form th:action="@{/mvc/authenticate}" method="post">
            <div class="input-group">
                <input type="text" id="username" name="username" class="form_input" placeholder=" " required>
                <label for="username" class="form_label" >Usuario</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" class="form_input" placeholder=" " required>
                <label for="password" class="form_label" >Contraseña</label>
            </div>
            <button type="submit">Entrar</button>
            <p class="signup-text">¿No tienes cuenta? <a href="#" id="showSignup">Regístrate</a></p>
        </form>
    </div>

    <!-- Formulario de registro -->
    <div class="login-right signup-panel" id="signupPanel">
        <div class="header">
            <img th:src="@{/images/logo/icesifit_logo_negro.svg}" alt="Logo">
        </div>
        <h2>Hoy es un buen día para empezar</h2>
        <form th:action="@{/mvc/signup/form}" method="post">
            <div class="input-group">
                <input type="text" id="name" name="name" class="form_input" placeholder=" " required>
                <label for="name" class="form_label">Nombre</label>
            </div>
            <div class="input-group">
                <input type="email" id="institutional_email" name="institutionalEmail" class="form_input" placeholder=" " required>
                <label for="institutional_email" class="form_label">Correo institucional</label>
            </div>
            <div class="input-group">
                <input type="password" id="password2" name="password" class="form_input" placeholder=" " required>
                <label for="password2" class="form_label">Contraseña</label>
            </div>
            <div class="input-group">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form_input" placeholder=" " required>
                <label for="confirmPassword" class="form_label">Confirmar contraseña</label>
            </div>
            <button type="submit">Crear cuenta</button>
            <p class="signup-text">¿Ya tienes cuenta? <a href="#" id="showLogin">Inicia sesión</a></p>
        </form>
    </div>
</div>
<script>
    const container = document.getElementById("container");
    const showSignup = document.getElementById("showSignup");
    const showLogin = document.getElementById("showLogin");

    showSignup.addEventListener("click", () => container.classList.add("active"));
    showLogin.addEventListener("click", () => container.classList.remove("active"));
</script>

</body>
</html>
